<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %>
<body class="container">
    <%- include('../partials/header')  %>

    <main>
      <div class="jumbotron">
          <h1>About Me</h1>
          <p>
            Hi! My name is Bianca and I'm a backend developer learning about frontend development.
          </p>
      </div>
    </main>

    <%- include('../partials/footer')  %>
</body>
</html>